<% content_for :title, "Lists" %>
<div id="lists" data-controller="sortable" class="flex" >
  <% if @lists.any? %>
    <% @lists.each do |list| %>
      <div class="border p-5 m-5 w-2xl">
        <%= render list %>
      </div>
    <% end %>
  <% else %>
    <p>No lists found.</p>
  <% end %>
</div>
