<% if @pagy.next %>
  <%= turbo_frame_tag "comments-pagy-#{@pagy.next}", src: pagy_url_for(@pagy, @pagy.next), loading: :lazy do %>
    <div class="bg-blue-600">Loading...</div>
  <% end %>
<% end %>
