<div id="<%= dom_id notification %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Seen:</strong>
    <%= notification.seen? ? "Yes" : "No" %>
  </div>
</div>
