<div class="grid grid-cols-2 gap-x-12 gap-y-24">
  <div data-controller="dropdown" data-dropdown-open-value="false" data-dropdown-opened-class="text-red-700">
    <h1 class="font-bold text-4xl" data-dropdown-target="active">Home#index</h1>
    <div data-action="mouseenter->dropdown#openDropdown mouseleave->dropdown#closeDropdown"
      data-dropdown-target="toggleButton"
      role="button">
      hover tooltip
    </div>
    <div data-dropdown-target="dropdownContent" class="fixed px-4 rounded-md bg-red-700">
      <p>Find me in app/views/home/index.html.erb</p>
    </div>
  </div>
  <div data-controller="dropdown" data-dropdown-open-value="true" data-dropdown-opened-class="text-pink-700">
    <h1 class="font-bold text-4xl" data-dropdown-target="active">Home#index</h1>
    <div role="button" data-action="click->dropdown#toggleDropdown" data-dropdown-target="toggleButton">
      Toggle the dropdown
    </div>
    <div data-dropdown-target="dropdownContent">
      <p>Find me in app/views/home/index.html.erb</p>
    </div>
  </div>
  <div data-controller="dropdown" data-dropdown-opened-class="text-amber-200">
    <h1 class="font-bold text-4xl" data-dropdown-target="active">Home#index</h1>
    <div role="button" data-action="click->dropdown#openDropdown" data-dropdown-target="openButton">
      Click to open
    </div>
    <button data-action="click->dropdown#closeDropdown" data-dropdown-target="closeButton">
      close dropdown
    </button>
    <div data-dropdown-target="dropdownContent">
      <p>Find me in app/views/home/index.html.erb</p>
    </div>
  </div>
</div>